@font-face {
    font-family: 'Satoshi Variable';
    src: url('fonts\Satoshi-Variable.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

    font-family: 'Crelist';
    src: url('fonts\Crelist.otf') format('otf');
    font-weight: normal;
    font-style: normal;

    font-family: 'Inter';
    src: url('fonts\Inter-Variable.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}

.divider {
    min-height: 52px;
    max-width: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.horizontal-divider {
    margin-top: 39px;
    width: 358px;
    max-width: 100%;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Promo Banner */
.promo {
    display: grid;
    align-items: end;
    padding: 1px 15px;
    background: #bd8a41;
    color: #fff;
    font-family: 'Satoshi Variable';
    height: 77px;
}

.promo-wrapper {
    display: flex;
}

.promo-text {
    font-size: 11px;
    text-align: center;
    flex: 1;
}

.close-promo {
    align-items: end;
    font-size: 16px;
}

/* Navigation Bar */
.navbar-container {
    display: flex;
    max-width: 360px;
    gap: 40px 100px;
    position: sticky;
    z-index: 100;
    background-color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    top: 0;
  }

.navbar-wrapper {
    display: flex;
    gap: 12px;
    color: rgba(189, 138, 65, 1);
    padding-left: 8px;
    white-space: nowrap;
    font: 400 25px Crelist, sans-serif;
}

.icons-wrapper {
    display: flex;
    gap: 11px;
}

.icon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    color: rgba(189, 138, 65, 1);
    font-size: 25px;
}

/* Introduction Section */
.intro-box {
    padding: 24px 16px;
    text-align: center;
    background-color: #bd8a41;
    height: 960px;
    background-image: url('resources/images/geometry.svg');
}

.intro-title {
    color: white;
    font-size: 50px;
    margin-bottom: 16px;
    line-height: 1.3;
    font-family: 'Inter';
    font-weight: 700;
    text-align: left;
}

.intro-description {
    color: white;
    font-size: 14px;
    margin-bottom: 24px;
    line-height: 1.5;
    font-family: 'Satoshi Variable';
    text-align: left;
}

.shop-now-button {
    width: 100%;
    padding: 12px;
    margin: 16px 0;
    border: none;
    background: white;
    color: #bd8a41;
    font-size: 16px;
    border-radius: 62px;
    font-family: 'Satoshi Variable';
}

/* Stats Container */
.stats-container {
    color: white;
    display: grid;
    gap: 24px;
    padding: 24px 16px;
    text-align: center;
    font-family: 'Satoshi Variable';
}

.first-stat {
    display: flex;
    gap: 40px;
}

.stat-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
}

.stat-label {
    font-size: 12px;
    font-weight: normal;
}

/* Product Sections */
.new-arrival,
.top-selling {
    padding: 24px 16px;
}

.new-arrival {
    margin-top: 150px;
}

.new-arrival-text,
.top-selling-text {
    font-size: 32px;
    text-align: center;
    font-family: 'Inter';
    font-weight: bold;
}

.product-card {
    width: 100%;
    margin-bottom: 24px;
}

.first-product,
.second-product {
    margin-top: 60px;
    font-family: 'Satoshi Variable';
}

.product-image {
    width: 100%;
    aspect-ratio: 1;
    background: #f5f5f5;
    border-radius: 13px;
    margin-bottom: 12px;
}

.product-title {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.rating-text {
    font-weight: bold;
}

.black-text {
    font-weight: normal;
    color: #666666;
}

.stars-wrapper {
    color: #ffc633;
}

.price {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: flex;
}

.original-price {
    color: #666;
    margin-left: 8px;
    padding-right: 5px;
}

.discount-badge {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 4px;
    font-size: 12px;
    color: red;
    background-color: #ffebeb;
    border-radius: 62px;
}

.view-all-button {
    width: 100%;
    padding: 12px;
    margin: 16px 0;
    border: 1px solid #666666;
    background: transparent;
    border-radius: 62px;
}

/* Browse By Section */
.browse-box {
    padding: 24px 16px;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.browse-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 24px;
    text-transform: uppercase;
    font-family: 'Inter';
    font-weight: bold;
}

.occasion-card {
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 1);
    width: 310px;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 16px 24px 114px;
    text-align: left;
    font-family: 'Satoshi Variable';
    font-size: 24px;
    font-weight: bold;
  }

  .occasion-card:not(:first-of-type) {
    margin-top: 16px;
  }

  .occasion-card:last-of-type {
    margin-top: 22px;
  }

  .occasion-card:first-of-type {
    margin-top: 28px;
  }

/*Review Section*/
.review-sect {
    margin-top: 65px;
}

.top-sect {
    display: flex;
    margin-bottom: 30px;
}

.review-title {
    text-align: left;
    font-family: 'Inter';
    font-size: 32px;
    font-weight: bold;
}

.arrow-container {
    align-self: end;
    display: flex;
    margin-top: 42px;
    gap: 17px;
}

.arrow {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    font-size: 24px;
}

.bot-sect {
    border-radius: 20px;
    display: flex;
    max-width: 358px;
    align-items: flex-start;
    gap: 24px 342px;
    overflow: hidden;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.stars-container {
    align-self: flex-start;
    display: flex;
    align-items: flex-start;
    gap: 6px;
    font-size: 20px;
   
}

.reviewer-info {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 4px;
}

.customer-name {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgba(0, 0, 0, 1);
    font-family: 'Satoshi Variable';
    font-weight: bold;
}

.verification-badge {
    margin-top: 3.3px;
    color: #01ab31;
}

.review-text {
    margin-top: 10px;
    font-family: 'Satoshi Variable';
    text-align: left;
    font-size: 12px;
}

/* Newsletter Section */
.newsletter-box {
    padding: 24px 16px;
    text-align: center;
    background: #f5f5f5;
}

.box-title {
    font-family: 'Inter';
    font-weight: bold;
    text-align: left;
    color: white;
    font-size: 32px;
    margin-bottom: 24px;
}

.mail-wrapper {
    display: flex;
    align-items: center;
    padding: 12px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 16px;
}

.mail-box {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
}

.subscribe-pill {
    width: 100%;
    padding: 12px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 4px;
}

/* Footer */
.outro-wrapper {
    padding: 24px 16px;
    background: #f5f5f5;
}

.footer {
    text-align: center;
    margin-bottom: 24px;
}

.footer-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}

.footer-description {
    font-size: 14px;
    line-height: 1.5;
}

.social-media-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 24px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-title {
    font-size: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.menu-links a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.horizontal-divider {
    height: 1px;
    background: #ddd;
    margin: 24px 0;
}

.super-footer {
    text-align: center;
    font-size: 12px;
    color: #666;
    margin-bottom: 24px;
}

.payment-accept-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.partner-logo {
    height: 24px;
    width: auto;
}

/* Utility Classes */
.divider {
    display: none;
}