/* =========== GOOGLE FONT & FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Satoshi Variable';
    src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'Crelist';
    src: url(../fonts/Crelist.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root{
    /* one part 95px */
    --header-height: 11.875rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #ffffff;
    --main-color: #bd8a41;
    --second-color: #f0f0f0;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --logo-font: "Crelist", sans-serif;
    --title-font: "Inter", serif;
    --body-font: "Satoshi Variable", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --paragraph-font-size: 1rem;
    --normal-font-size: .875rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =========== BASE STYLING ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--black-color);
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--normal-font-size);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

ul{
    list-style: none;
}
/* ============= PROMO BAR =============== */
.promo_bar{
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    justify-content: baseline;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.promo_wrapper{
    flex: 1;
    text-align: center;
    white-space: normal;
    transition: transform 0.2s ease;
}

.sign_up_btn,
.close_promo_btn{
    color: var(--white-color);
}

.close_promo_btn{
    flex: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.sign_up_btn:hover{
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--main-color);
}

.close_promo_btn:hover{
    transform: scale(1.2);
}

.promo_bar.hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/* ============= NAVIGATION BAR =============== */
.navbar{
    background-color: var(--white-color);
    padding: .5rem;
    box-shadow: 0 2px 4px #0000001a;
    position: relative;
    z-index: var(--z-fixed);
}

.nav_container{
    max-width: 2024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: .1rem;
    color: var(--main-color);
}

.brand_logo{
    font-family: var(--logo-font);
    font-size: 2rem; /* 32px */
    font-weight: normal;
    color: var(--main-color);
}

.desktop_nav{
    display: none;
}

.desktop_nav a{
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.desktop_nav a:hover{
    text-decoration: underline;
}

.menu_btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
    color: var(--main-color);
}

.menu_btn:hover{
    transform: scale(1.2);
}

.nav_right{
    display: flex;
}

.nav_icon{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    color: var(--main-color);
   
}

.nav_icon:hover{
    transform: scale(1.2);
}

.side_panel{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--white-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
}

.side_panel.active{
    left: 0;
}

.panel_header{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    color: var(--main-color);
}

.close_btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--main-color);
}

.mobile_nav{
    padding: 1rem;
    color: var(--main-color);
}

.mobile_nav a{
    display: block;
    padding: 1rem 0;
    color: var(--main-color);
}

.mobile_nav a:hover{
    text-decoration: underline;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 999;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

.ri-menu-line,
.ri-search-line,
.ri-shopping-cart-2-line,
.ri-account-circle-line,
.ri-close-line {
    font-size: 1.5rem;
}

.search_container {
    display: none;
    position: relative;
    background-color: #F5F5F5; 
    border-radius: 9999px; 
    padding: 0.5rem 1rem;
    width: 350px; 
}

.search_box {
    border: none;
    background: transparent;
    padding: 0.5rem 2rem 0.5rem 2rem; 
    width: 100%;
    font-size: var(--small-font-size);
    color: #666666;
    outline: none; 
}

.search_box::placeholder {
    color: #999999; 
    opacity: 0.7;
}

.search_btn {
    position: absolute;
    left: 0.75rem; 
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    cursor: pointer;
}

/* Search overlay styles for mobile */
.search_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.search_overlay.active {
    opacity: 1;
    visibility: visible;
}

.search_overlay_wrapper {
    position: relative;
    padding: 1rem;
    background-color: var(--white-color);
    border-bottom: 1px solid #eee;
}

.mobile_search_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: #F5F5F5;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
}

.mobile_search_box {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.75rem;
    font-size: var(--normal-font-size);
    color: #666666;
    outline: none;
}

.mobile_search_box::placeholder {
    color: #999999;
    opacity: 1;
}

.close_search_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--main-color);
    font-size: var(--h3-font-size);
}

/* ==================== MAIN =================== */
.main{
    padding: 1rem;
}

.breadcrumb{
    padding: 0 0 1rem;
}

.index:hover{
    text-decoration: underline;
}

.filter_wrapper{
    display: none;
    border: var(--second-color) 1px solid;
    border-radius: 1em;
    padding: 1rem;
    height: fit-content;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.display_header{
    align-self: normal;
    display: flex;
    justify-content: space-between;
}

.filter_mobile{
    flex: 0.3;
}

.filter_icon_mobile {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
}

.filter-panel {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 60%;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    z-index: 1000;
    padding: 1rem;
}

.filter-panel.open {
    bottom: 0;
}

.filter-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.close-filter{
    font-size: 1rem;
}

.filter-panel-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-btn {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #bd8a41;
    border: none;
    color: #fff;
}

.apply {
    margin-top: 1rem;
    text-align: center;
}

.apply_btn {
    padding: 0.75rem 1.5rem;
    width: 90%;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
}

.apply_btn:hover{
    background-color: #9e7337;
}

.product_grid{
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."; 
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product_name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.product_image{
    border-radius: 8%;
    background-color: #f0eeed;
}

.product_img{
    filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, .4));
    width: 100%;
    height: auto;
    object-fit: cover;
}

.star_icon{
    color: #ffc205
}

.price_wrapper{
    display: flex;
    gap: 2%;
    align-items: center;
}

.discount_badge{
    background-color: #ffebeb;
    color: #ff3333;
    font-size: .8rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 3rem;
}

.divider{
    width: 100%;
    border: var(--second-color) 1px solid;
}

.pagination{
    align-self: normal;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.page-btn{
    border: #000000 1px solid;
    border-radius: .3em;
    padding: .5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.page-btn:hover{
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--white-color);
    border: none;
}

.page-num {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.page-num:hover {
    background-color: #f0f0f0;
}

.page-num.active {
    background-color: var(--main-color);
    color: white;
}

.page-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.dots {
    padding: 0.5rem;
    cursor: default;
}


.page-numbers{
    display: flex;
    gap: .5em;
}

/* ================ FOOTER ================= */
.footer {
    border-radius: 0;
    display: flex;
    width: 100%;
    padding-top: 5rem;
    flex-direction: column;
    margin: 0 auto;
}
  
.footer_container {
    background-color: rgba(240, 240, 240, 1);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 .9375rem 1.4375rem;
    
}

.right_footer_wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
        ". ."
        ". ."; 
}
  
.logo_footer {
    margin: 2rem 0 .8125rem;
}
  
.brand_desc {
    color: var(--main-color);
    font: 400 var(--normal-font-size) 'Satoshi Variable';
    margin: 0 0 .8125rem;
}

.social_media_container{
    margin: 0 0 .8125rem;
}

.social_media_icon {
    font-size: 1.5rem;
    color: var(--main-color);
}

.social_media_icon:hover{
    color: #000000;
    cursor: pointer;
}

.footer_links{
    color: var(--main-color);
}

.nav_links:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer_divider{
    border: #d8d8d8 1px solid;
    margin: 10% 0 0;
}

.bottom_wrapper{
    margin: 2% 0 0;
    text-align: center;
    color: #606060;
    align-self: center;
}

.payment_partner_wrapper{
    font-size: var(--normal-font-size);
    display: flex;
    gap: 0.1rem;
    filter: drop-shadow(-8px 8px 16px hsla(30, 1%, 37%, 0.4));
}

.payment_icon{
    max-width: 3.4rem;
    height: auto;
}

@media screen and (min-width: 768px) {

    .main{
        padding: 2rem;
    }

    .filter_mobile{
        flex: none;
    }

    .page-numbers {
        gap: 0.75rem;
    }
    
    .page-num {
        min-width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product_grid{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
            ". . ."
            ". . ."
            ". . ."; 
    }

    .apply_btn{
        width: 40%;
    }

}

@media screen and (min-width: 1024px) {

    *{
        font-size: 104%;
    }

    .main{
        padding: 2rem 30rem;
    }

    .breadcrumb{
        font-size: 1.2rem;
    }

    .content_area{
        display: flex;
        gap: 2rem;
    }

    .filter_wrapper{
        display: block;
        width: 30%;
    }

    .filter_mobile{
        display: none;
    }

    .apply_btn{
        width: 90%;
    }
    
    .display{
        width: 100%;
        align-items: end;
    }

    .display_header h1{
        font-size: var(--h1-font-size);
    }

    .product_grid{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". . . . ."
          ". . . . .";
    }
}

/* ==== MEDIA QUERIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px){

    .navbar {
        padding: 1rem 2rem;
    }

    .nav_left{
        align-items: center;
    }

    .search_container {
        display: flex;
        margin-right: 1rem;
    }

    .mobile_search_icon {
        display: none;
    }

    .search_overlay {
        display: none;
    }

    .side_panel{
        left: -25rem;
        width: 25rem;
    }

    .hero{
        min-height: 500px;
        padding: 2rem;
    }

    .hero_container{
        display: flex;
    }

    .stats_container{
        padding-left: 1.5rem;
        padding-bottom: 1rem;
    }
    
    .shop_now_btn{
        width: 70%;
    }

    .main_title{
        font-size: 2.75rem;
        margin-bottom: 5%;
    }

    .product{
        padding: 2rem 1rem;
    }

    .swiper-scrollbar{
        display: none;
    }

    .product_prev,
    .product_next {
        display: block;
        top:initial;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--black-color);
    }

    .button_wrapper{
        display: flex;
        justify-content: center;
    }

    .view_all_btn{
        font-size: 1rem;
        width: 30%;
    }

    .product_prev::after,
    .product_next::after {
        content: '';
    }

    .product_prev,
    .product_next {
        top:initial;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--black-color);
    }

    .product_prev{
        left: 8rem;
    }

    .product_next{
        right: 8rem;
    }

    .browse_box{
        padding: 1.5rem;
    }

    .browse_box h1{
        margin: 1.7rem;
    }

    .first_row{
        display: grid; 
        grid-template-columns: 0.75fr 1.25fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". .";
    }

    .second_row{
        display: grid; 
        grid-template-columns: 1.25fr 0.75fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". .";
    }

    .casual_occasion_img{
        width: 160%;
    }

    .active_occasion_img{
        width: 160%;
    }

    .review_content_header{
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    .review_content_header h1{
        font-size: 2rem;
    }

    .swiper_button_wrapper{
        flex: 0.1;
    }

    .newsletter_card{
        flex-direction: row;
        padding: 3rem 1.5rem;
        align-items: baseline;
        justify-content: space-between;
    }

    .newsletter_card h2{
        width: 55%;
    }

    .email_input_wrapper{
        flex: 1;
    }

    .brand_desc{
        width: 50%;
    }
    
    .footer_container{
        padding: 0 1.5rem 1.4375rem;
        display: block;;
    }

    .footer_link_wrapper{
        padding: 0 2rem 1.4375rem;
        display: flex;
        font-size: 100%;
    }

    .brand_desc{
        width:80%;
    }

    .left_footer_wrapper{
        flex: 1;
    }

    .right_footer_wrapper{
        margin: 3% 0 0;
    }

    .footer_divider{
        width: 100%;
        margin: 2% 0 2%;
    }

    .bottom_wrapper{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px){

    .promo_wrapper,
    .sign_up_btn{
        font-size: 1.2rem;
    }

    .promo_bar{
        display: flex;
        justify-content: center;
    }

    .promo_wrapper{
        flex: 0.5;
    }
    
    /* Hide mobile menu elements */
    .menu_btn {
        display: none;
    }

    .nav_left{
        margin-left: 1rem;
    }

    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .search_container{
        flex-grow: 0.7;
    }

    .search_box{
        font-size: 1.2rem;
        width: 100%;
    }

    .brand_logo{
        font-size: 3rem;
    }

    /* Show desktop navigation */
    .desktop_nav {
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .cart_icon,
    .account_icon {
        font-size: 2.2rem;
    }

    /* Ensure side panel and overlay are hidden on desktop */
    .side_panel {
        display: none;
    }

    .overlay {
        display: none;
    }

    .footer_container{
        padding: 0 30rem 1.4375rem;
    }

    .newsletter_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter_card{
        padding: 2rem 1.5rem;
        width: 70%;
        justify-content: space-between;
    }

    .newsletter_card h2{
        width: 38%;
    }

    .email_icon{
        font-size: 1.5rem;
    }

    .email_input,
    .subscribe_btn{
        font-size: 1rem;
    }

    .email_input_wrapper{
        flex: 0.5;
    }

    .left_footer_wrapper{
        flex: 0.5;
    }

    .right_footer_wrapper{
        display: flex;
        justify-content: space-around;
        flex: 1;
    }

    .payment_icon{
        max-width: 3.5rem;
    }

    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .brand_desc{
        font-size: 1.1rem;
    }
    
    .footer_links{
        font-size: 1.1rem;
    }

    .social_media_icon{
        font-size: 2rem;
    }

    .bottom_wrapper{
        padding: 0 2rem;
    }

    .bottom_wrapper p{
        font-size: 1.1rem;
    }
    
}

