/* =========== GOOGLE FONT & FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Satoshi Variable';
    src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'Crelist';
    src: url(../fonts/Crelist.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root{
    /* one part 95px */
    --header-height: 11.875rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #ffffff;
    --main-color: #bd8a41;
    --second-color: #f0f0f0;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --logo-font: "Crelist", sans-serif;
    --title-font: "Inter", serif;
    --body-font: "Satoshi Variable", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --paragraph-font-size: 1rem;
    --normal-font-size: .875rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--black-color);
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--normal-font-size);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

ul{
    list-style: none;
}

.horizontal-divider {
    margin-top: 39px;
    width: 358px;
    max-width: 100%;
    height: 1px;
    border: 1px solid #e6e6e6;
}

.item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8.66px;
}

.cart-title{
    padding-left: 20px;
}

.promo-code .input{
    color: rgb(77, 75, 75);
}

/* General Mobile Styles */
@media (min-width: 320px) {
    .cart-section, .order-summary, .bottom-container {
        width: 100%;
        padding: 10px;
        margin: 0 auto;
    }

    /* Navigation Bar */
    .navbar-container {
        display: flex;
        width: 100%;
        gap: 5px;
        position: sticky;
        z-index: 100;
        background-color: white;
        padding-bottom: 10px;
        padding-top: 10px;
        top: 0;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-wrapper {
        display: flex;
        gap: 12px;
        color: rgba(189, 138, 65, 1);
        padding-left: 8px;
        white-space: nowrap;
        font: 16px sans-serif;
    }

    .icons-wrapper {
        display: flex;
        gap: 11px;
    }

    .icon {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        color: rgba(189, 138, 65, 1);
        font-size: 25px;
    }

    /* Intro */
    .intro {
        display: flex;
        align-items: center;
        margin: 10px 0;
        gap: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .intro-item {
        color: black;
        padding-left: 15px;
    }

    .arrow-icon ion-icon {
        transform: rotate(180deg);
    }

    /* Cart Section */
    .cart-section {
        padding: 10px;
    }

    .cart-title {
        font-size: 24px;
        font-family: sans-serif;
        font-weight: 700;
        color: black;
        text-align: left;
    }

    .cart-items {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-top: 20px;
        border: 1px solid rgba(39, 7, 7, 0.1);
        border-radius: 20px;
        padding: 10px;
    }

    .cart-item {
        display: flex;
        gap: 16px;
    }

    .item-image {
        width: 80px;
        height: 80px;
        background: #F0EEED;
        border-radius: 8.66px;
    }

    .item-details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .item-name {
        font-size: 12px;
        font-weight: 700;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .item-size {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.6);
        font-family: Arial, Helvetica, sans-serif;
    }

    .item-price {
        font-size: 15px;
        font-weight: 700;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
    }

    .item-actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
    }

    .remove-icon {
    font-size: 25px;
        color: red;
        cursor: pointer;
    }

    .quantity-control {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 10px;
        background: #F0F0F0;
        border-radius: 62px;
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Order Summary */
    .order-summary {
        width: 90%;
        margin: 20px auto;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        padding: 10px;
        background: white;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .summary-title {
        font-size: 20px;
        font-weight: 700;
        color: black;
        text-align: center;
    }

    .summary-details {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 10px;
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
    }

    .summary-item .label {
        color: rgba(0, 0, 0, 0.6);
        font-size: 20px;
    }

    .summary-item .value {
        font-size: 20px;
        font-weight: 700;
    }

    .value.discount {
        color: red;
    }


    .summary-item.total .value {
        font-size: 24px;
    }

    .summary-divider {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .promo-code {
        display: flex;
        gap: 5px;
        margin-top: 20px; 
    }

    .input {
        flex: 1;
        background: #F0F0F0;
        border-radius: 62px;
        padding: 12px 16px;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.4);
    }

    .apply-button {
        background: #BD8A41;
        color: white;
        padding: 8px 10px;
        border-radius: 62px;
        font-size: 12px;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }

    .checkout-button {
        margin-top: 20px;
        background: #BD8A41;
        color: white;
        padding:15px 10px;
        border-radius: 62px;
        font-size: 15px;
        font-weight: 500;
        border: none;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        color: #999999;
        border-color: transparent;
    }
}
/* Utility Classes */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 1024px) {
    .cart-section, .order-summary, .bottom-container {
        max-width: none;
        padding: 20px;
    }

    .intro{
        padding: 1rem;
    }

    /* Cart Section */
    .cart-items {
        gap: 20px;
    }

    .cart-item {
        gap: 24px;
    }

    .item-image {
        width: 100px;
        height: 100px;
    }
    

    .item-name{
        font-size: medium;
    }

    .item-details {
        justify-content: center;
    }

    .item-actions {
        align-items: center;
    }

    /* Order Summary */
    .order-summary {
        width: 80%;
        padding: 20px;
        font-size: 14px;
    }

    .summary-details {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
    }

    .summary-title{
        text-align: left;
    }

    .summary-item {
        flex: 1 1 calc(50% - 10px);
    }
}

/* Desktop Styles */
@media (min-width: 1024px) {

    .intro{
        padding: 0 1rem;
    }

    .cart-title{
        font-size: 40px;
        padding: 0 1.8rem;
    }

    .main-content{
        display: flex;
        justify-content: space-between; 
        gap: 20px;
        padding: 0 5% 3%;
    }

    .order-summary{
        margin-right: 20px;
        margin-top: 50px;
    }

     .intro,.navbar-wrapper, .item-name, .item-size, .item-price, .item-actions{
        font-size:larger;
    }

    .item-image{
        width: 120px;
        height: 120px;
    }


}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: #bd8a41;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 3s;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    10% { opacity: 1; }
    90% { opacity: 1; }
    100% { opacity: 0; }
}