/* =========== GOOGLE FONT & FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Satoshi Variable';
    src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'Crelist';
    src: url(../fonts/Crelist.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root{
    /* one part 95px */
    --header-height: 11.875rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #ffffff;
    --main-color: #bd8a41;
    --second-color: #f0f0f0;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --logo-font: "Crelist", sans-serif;
    --title-font: "Inter", serif;
    --body-font: "Satoshi Variable", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --paragraph-font-size: 1rem;
    --normal-font-size: .875rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =========== BASE STYLING ============ */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--black-color);
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--normal-font-size);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

ul{
    list-style: none;
}

/* ==================== MAIN =================== */
.main{
    padding: 1rem;
}

.breadcrumb{
    padding: 0 0 1rem;
}

.index:hover{
    text-decoration: underline;
}

.filter_wrapper{
    display: none;
    border: var(--second-color) 1px solid;
    border-radius: 1em;
    padding: 1rem;
    height: fit-content;
}

.display{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.display_header{
    align-self: normal;
    display: flex;
    justify-content: space-between;
}

.filter_mobile{
    flex: 0.3;
}

.filter_icon_mobile {
    display: inline-block;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    line-height: 2.5rem;
}

.filter-panel {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #fff;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: bottom 0.3s ease-in-out;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    z-index: 1000;
    padding: 1rem;
}

.filter-panel.open {
    bottom: 0;
}

.filter-panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.close-filter{
    font-size: 1rem;
}

.filter-panel-content {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.filter-btn {
    padding: 0.5rem 1rem;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #bd8a41;
    border: none;
    color: #fff;
}

.apply {
    margin-top: 1rem;
    text-align: center;
}

.apply_btn {
    padding: 0.75rem 1.5rem;
    width: 90%;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 1.4rem;
    cursor: pointer;
}

.apply_btn:hover{
    background-color: #9e7337;
}

.product_grid{
    display: grid; 
    grid-auto-flow: row dense; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."; 
}

.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product_name:hover{
    text-decoration: underline;
    cursor: pointer;
}

.product_image{
    border-radius: 8%;
    background-color: #f0eeed;
}

.product_img{
    filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, .4));
    width: 100%;
    height: auto;
    object-fit: cover;
}

.star_icon{
    color: #ffc205
}

.price_wrapper{
    display: flex;
    gap: 2%;
    align-items: center;
}

.discount_badge{
    background-color: #ffebeb;
    color: #ff3333;
    font-size: .8rem;
    border-radius: 1.5rem;
    text-align: center;
    width: 3rem;
}

.divider{
    width: 100%;
    border: var(--second-color) 1px solid;
}


@media screen and (min-width: 768px) {

    .main{
        padding: 2rem;
    }

    .filter_mobile{
        flex: none;
    }

    .page-numbers {
        gap: 0.75rem;
    }
    
    .page-num {
        min-width: 2rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product_grid{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
            ". . ."
            ". . ."
            ". . ."; 
    }

    .apply_btn{
        width: 40%;
    }

}

@media screen and (min-width: 1024px) {

    *{
        font-size: 104%;
    }

    .main{
        padding: 2rem 5rem;
    }

    .breadcrumb{
        font-size: 1.2rem;
    }

    .content_area{
        display: flex;
        gap: 2rem;
    }

    .filter_wrapper{
        display: block;
        width: 30%;
    }

    .filter_mobile{
        display: none;
    }

    .apply_btn{
        width: 90%;
    }
    
    .display{
        width: 100%;
        align-items: end;
    }

    .display_header h1{
        font-size: var(--h1-font-size);
    }

    .product_grid{
        display: grid; 
        grid-auto-flow: row dense; 
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". . . . ."
          ". . . . .";
    }
}

