/* =========== GOOGLE FONT & FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Satoshi Variable';
    src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'Crelist';
    src: url(../fonts/Crelist.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root{
    /* one part 95px */
    --header-height: 11.875rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #ffffff;
    --main-color: #bd8a41;
    --second-color: #f0f0f0;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --logo-font: "Crelist", sans-serif;
    --title-font: "Inter", serif;
    --body-font: "Satoshi Variable", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --paragraph-font-size: 1rem;
    --normal-font-size: .875rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =========== BASE STYLING ============ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html{
    scroll-behavior: smooth;
}

html.sr .load-hidden {
    visibility: hidden;
}

body{
    color: var(--black-color);
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

ul{
    list-style: none;
}


/* ================= FORM SECTION =============== */
.main {
    margin: 2rem 0;
    padding: 1rem 1rem;
}

.form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    background-color: #ffffff;
    width: 100%;
    border-radius: 1.25rem;
    font-family: 'Satoshi Variable';
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
  
::placeholder {
    font-family: 'Satoshi Variable';
}
  
.form button {
    align-self: flex-end;
    font-family: 'Inter';
    font-weight: bold;
}
  
.flex-column > label {
    color: #151717;
    font-weight: 500;
}
  
.inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 0.625rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
}
  
.input {
    margin-left: 0.625rem;
    border-radius: 0.625rem;
    border: none;
    width: 100%;
    height: 100%;
}
  
.input:focus {
    outline: none;
}
  
.inputForm:focus-within {
    border: 1.5px solid #bd8a41;
}
  
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
    justify-content: space-between;
}
  
.flex-row > div > label {
    font-size: 0.875rem;
    color: black;
    font-weight: 400;
}
  
.span {
    font-size: 0.875rem;
    margin-left: 5px;
    color: #bd8a41;
    font-weight: 500;
    cursor: pointer;
}

.span:hover {
    text-decoration: underline;
}
  
.button-submit {
    margin: 1.25rem 0 0.625rem 0;
    background-color: #bd8a41;
    border: none;
    color: white;
    font-size: .9375rem;
    font-weight: 500;
    border-radius: .625rem;
    height: 3.125rem;
    width: 100%;
    cursor: pointer;
}

.button-submit:hover {
    background-color: #9e7337;
}
  
.p {
    text-align: center;
    color: black;
    font-size: 0.875rem;
    margin: .3125rem 0;
}
  
.btn {
    margin-top: 0.625rem;
    width: 100%;
    height: 3.125rem;
    border-radius: 0.625rem;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 0.625rem;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
  
.btn:hover {
    border: 1px solid #fcb553;
    ;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hidden {
    display: none;
}

.popup-content {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
}

.popup-content p {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #333333;
}

.popup-close-button {
    background: #bd8a41;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .825rem;
}

.popup-close-button:hover {
    background: #5f421a;
}

.hidden {
    display: none;
}

/* Media query for tablet and desktop sizes */
@media screen and (min-width: 768px) {
    .main {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 60vh;
      margin: 0;
      padding: 0;
    }

    label{
        font-size: 1.2rem;
    }

    .icon{
        font-size: 1rem;
    }

    .input{
        font-size: 1rem;
    }

    .flex-row > div > label {
        font-size: 1rem;
    }

    .span{
        font-size: 1rem;
    }
  
    .form {
      max-width: 400px;
      padding: 2rem;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
  
    .inputForm {
      width: 100%;
    }
  
    .button-submit,
    .btn {
      width: 100%;
      font-size: 1rem;
    }

    .p {
        font-size: 1rem;
      }
}

  /* Media query for larger screens (1024px and above) */
@media screen and (min-width: 1024px) {

    label{
        font-size: 1.2rem;
    }

    .icon{
        font-size: 1rem;
    }

    .input{
        font-size: 1rem;
    }

    .flex-row > div > label {
        font-size: 1rem;
    }

    .span{
        font-size: 1rem;
    }

    .form {
      max-width: 480px;
      padding: 2.5rem;
    }
  
    .inputForm {
      height: 3.5rem;
    }
  
    .button-submit,
    .btn {
      height: 3.5rem;
      font-size: 1rem;
    }
  
    .p {
      font-size: 1rem;
    }

    .popup-content{
        max-width: 600px;
    }

    .popup-content p{
        font-size: 1.4rem;
    }

    .popup-close-button{
        font-size: 1.2rem;
    }
}
  