/* =========== GOOGLE FONT & FONT ============ */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face{
    font-family: 'Satoshi Variable';
    src: url(../fonts/Satoshi-Variable.ttf) format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'Crelist';
    src: url(../fonts/Crelist.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*=============== VARIABLES CSS ===============*/
:root{
    /* one part 95px */
    --header-height: 11.875rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white-color: #ffffff;
    --main-color: #bd8a41;
    --second-color: #f0f0f0;
    --black-color: #000000;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --logo-font: "Crelist", sans-serif;
    --title-font: "Inter", serif;
    --body-font: "Satoshi Variable", serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 3rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 2.25rem;
    --paragraph-font-size: 1rem;
    --normal-font-size: .875rem;
    --small-font-size: .813rem;
  
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* =========== BASE STYLING ============ */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

html{
    scroll-behavior: smooth;
}

body{
    color: var(--black-color);
    line-height: 1.5;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--normal-font-size);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

ul{
    list-style: none;
}

.promo-banner {
    background-color: #BD8A41;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

.breadcrumb {
    display: flex;
    gap: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: #BD8A41;
}

.breadcrumb a {
    text-decoration: none;
    color: inherit;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .product-container {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
    }
}

.product-images {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.thumbnail-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

.thumbnail {
    border-radius: 10px;
    background-color: #d9d9d9;
    aspect-ratio: 1;
    width: 70px;
}

@media (min-width: 768px) {
    .product-images {
        grid-template-columns: 1fr 3fr;
    }

    .thumbnail-list {
        flex-direction: column;
    }
}

.main-image {
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 100%;
    aspect-ratio: 1;
}

.product-info {
    padding: 10px;
}

.product-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .product-title {
        font-size: 28px;
    }
}

.rating-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 5px;
}

.rating-container span {
    font-size: 14px;
    color: #555;
}

.price-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.current-price {
    font-size: 20px;
    font-weight: 700;
}

.original-price {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    text-decoration: line-through;
}

.discount-badge {
    color: #ff3333;
    background: rgba(255, 51, 51, 0.1);
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 12px;
}

.product-description {
    margin-top: 15px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.size-selector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 0 10px 0;
}

.size-selector::before {
    content: "Choose Size";
    position: absolute;
    top: -10px;
    background: #fff;
    font-size: 14px;
    left: 10px;
    padding: 0 5px;
    color: #555;
}

.size-option {
    padding: 10px 20px;
    background: #f0f0f0;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
}

.size-option.selected {
    background-color: #BD8A41;
    color: #fff;
    border-color: #BD8A41;
}

.quantity-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.quantity-container button {
    border: none;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.add-to-cart-btn {
    background-color: #BD8A41;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.add-to-cart-btn:hover {
    background-color: #a97736;
}

.tabs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
}

.tab {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    color: #555;
    text-align: center;
}

.tab.active {
    border-bottom: 2px solid #BD8A41;
    color: #BD8A41;
}

@media (min-width: 768px) {
    .tabs {
        flex-direction: row;
        justify-content: space-around;
    }
}

.reviews-section {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.reviews-header h2 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #333;
}

.reviews-header .review-buttons {
    display: flex;
    gap: 10px;
}

.review-buttons button {
    padding: 10px 16px;
    border: 1px solid #BD8A41;
    background: #fff;
    color: #BD8A41;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.review-buttons button:hover {
    background: #BD8A41;
    color: #fff;
}

.reviews-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {
    .reviews-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

.review {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #fff;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-text {
    font-size: 14px;
    color: #555;
}

.load-more-btn {
    background-color: #fff;
    color: #BD8A41;
    border: 1px solid #BD8A41;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    margin: 20px auto;
    max-width: 200px;
}

.load-more-btn:hover {
    background-color: #BD8A41;
    color: #fff;
}

.you-might-also-like {
    margin-top: 40px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.you-might-also-like h2 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.related-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .related-products {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        overflow-x: auto;
        gap: 10px;
    }
}

.product-card {
    text-align: center;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-title {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    margin-top: 10px;
}

.product-price {
    font-size: 14px;
    font-weight: 600;
    color: #BD8A41;
}

/* ============= HEADER =============== */
header{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
}

/* ============= PROMO BAR =============== */
.promo_bar{
    background-color: var(--main-color);
    color: var(--white-color);
    text-align: center;
    padding: 1rem;
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    padding: 12px 20px;
    justify-content: baseline;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.promo_wrapper{
    flex: 1;
    text-align: center;
    white-space: normal;
    transition: transform 0.2s ease;
}

.sign_up_btn,
.close_promo_btn{
    color: var(--white-color);
}

.close_promo_btn{
    flex: none;
    font-size: var(--normal-font-size);
    cursor: pointer;
}

.sign_up_btn:hover{
    text-decoration: none;
    background-color: var(--white-color);
    color: var(--main-color);
}

.close_promo_btn:hover{
    transform: scale(1.2);
}

.promo_bar.hidden {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
}

/* ============= NAVIGATION BAR =============== */
.navbar{
    background-color: var(--white-color);
    padding: .5rem;
    box-shadow: 0 2px 4px #0000001a;
    position: relative;
    z-index: var(--z-fixed);
}

.nav_container{
    max-width: 2024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left{
    display: flex;
    align-items: center;
    gap: .1rem;
    color: var(--main-color);
}

.brand_logo{
    font-family: var(--logo-font);
    font-size: 2rem; /* 32px */
    font-weight: normal;
    color: var(--main-color);
}

.desktop_nav{
    display: none;
}

.desktop_nav a{
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

.desktop_nav a:hover{
    text-decoration: underline;
}

.menu_btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: block;
    color: var(--main-color);
}

.menu_btn:hover{
    transform: scale(1.2);
}

.nav_right{
    display: flex;
}

.nav_icon{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    border-radius: 50%;
    color: var(--main-color);
   
}

.nav_icon:hover{
    transform: scale(1.2);
}

.side_panel{
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--white-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    z-index: 1000;
}

.side_panel.active{
    left: 0;
}

.panel_header{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    color: var(--main-color);
}

.close_btn{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    color: var(--main-color);
}

.mobile_nav{
    padding: 1rem;
    color: var(--main-color);
}

.mobile_nav a{
    display: block;
    padding: 1rem 0;
    color: var(--main-color);
}

.mobile_nav a:hover{
    text-decoration: underline;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 999;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

.ri-menu-line,
.ri-search-line,
.ri-shopping-cart-2-line,
.ri-account-circle-line,
.ri-close-line {
    font-size: 1.5rem;
}

.search_container {
    display: none;
    position: relative;
    background-color: #F5F5F5; 
    border-radius: 9999px; 
    padding: 0.5rem 1rem;
    width: 350px; 
}

.search_box {
    border: none;
    background: transparent;
    padding: 0.5rem 2rem 0.5rem 2rem; 
    width: 100%;
    font-size: var(--small-font-size);
    color: #666666;
    outline: none; 
}

.search_box::placeholder {
    color: #999999; 
    opacity: 0.7;
}

.search_btn {
    position: absolute;
    left: 0.75rem; 
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    cursor: pointer;
}

/* Search overlay styles for mobile */
.search_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
    z-index: 1001;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.search_overlay.active {
    opacity: 1;
    visibility: visible;
}

.search_overlay_wrapper {
    position: relative;
    padding: 1rem;
    background-color: var(--white-color);
    border-bottom: 1px solid #eee;
}

.mobile_search_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    background-color: #F5F5F5;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
}

.mobile_search_box {
    flex: 1;
    border: none;
    background: transparent;
    padding: 0.75rem;
    font-size: var(--normal-font-size);
    color: #666666;
    outline: none;
}

.mobile_search_box::placeholder {
    color: #999999;
    opacity: 1;
}

.close_search_btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--main-color);
    font-size: var(--h3-font-size);
}

/* ================ FOOTER ================= */
.footer {
    border-radius: 0;
    display: flex;
    width: 100%;
    padding-top: 5rem;
    flex-direction: column;
    margin: 0 auto;
}
  
.footer_container {
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 .9375rem 1.4375rem;
    
}
  
.newsletter_card{
    border-radius: 1.25rem;
    background-color: var(--main-color);
    z-index: 10;
    display: flex;
    margin-top: -5rem;
    width: 100%;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem 1.1rem;
    font: var(--normal-font-size) 'Satoshi Variable';
}
  
.newsletter_card h2{
    color: var(--white-color);
    font: var(--h2-font-size) 'Inter';
    font-weight: bold;
}
  
.email_input_container {
    border-radius: 3.875rem;
    background-color: var(--white-color);
    display: flex;
    margin: 1.75rem 0 0;
    align-items: center;
    gap: 1rem;
    overflow: hidden;
    padding: 0.7rem 1rem;
}

.email_input {
    border-color: transparent;
    font-family: 'Satoshi Variable';
    font-size: var(--normal-font-size);
    width: 100%;
}

.email_input:focus {
    outline: none;
}
  
.email_icon {
    font-size: 1.25rem;
    color: #999999;
    margin: auto 0;
}
  
.subscribe_btn {
    width: 100%;
    border-radius: 3.875rem;
    background-color: var(--white-color);
    margin: .75rem 0 0;
    color: var(--main-color);
    padding: 0.7rem 1rem;
    border: none;
    cursor: pointer;
    font-family: 'Satoshi Variable';
    font-weight: 600;
}

.subscribe_btn:hover{
    text-decoration: underline;
    filter: drop-shadow(-8px 8px 16px hsla(34, 51%, 8%, .4));
}

.right_footer_wrapper{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1em 1em; 
    grid-template-areas: 
        ". ."
        ". ."; 
}
  
.logo_footer {
    margin: 2rem 0 .8125rem;
}
  
.brand_desc {
    color: var(--main-color);
    font: 400 var(--normal-font-size) 'Satoshi Variable';
    margin: 0 0 .8125rem;
}

.social_media_container{
    margin: 0 0 .8125rem;
}

.social_media_icon {
    font-size: 1.5rem;
    color: var(--main-color);
}

.social_media_icon:hover{
    color: #000000;
    cursor: pointer;
}

.footer_links{
    color: var(--main-color);
}

.nav_links:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer_divider{
    margin: 10% 0 0;
}

.bottom_wrapper{
    margin: 2% 0 0;
    text-align: center;
    color: #606060;
    align-self: center;
}

.payment_partner_wrapper{
    font-size: var(--normal-font-size);
    display: flex;
    gap: 0.1rem;
    filter: drop-shadow(-8px 8px 16px hsla(30, 1%, 37%, 0.4));
}

.payment_icon{
    max-width: 3.4rem;
    height: auto;
}

/* ==== MEDIA QUERIES FOR RESPONSIVE DESIGN ==== */
@media screen and (min-width: 768px){

    .navbar {
        padding: 1rem 2rem;
    }

    .nav_left{
        align-items: center;
    }

    .search_container {
        display: flex;
        margin-right: 1rem;
    }

    .mobile_search_icon {
        display: none;
    }

    .search_overlay {
        display: none;
    }

    .side_panel{
        left: -25rem;
        width: 25rem;
    }

    .hero{
        min-height: 500px;
        padding: 2rem;
    }

    .hero_container{
        display: flex;
    }

    .stats_container{
        padding-left: 1.5rem;
        padding-bottom: 1rem;
    }
    
    .shop_now_btn{
        width: 70%;
    }

    .main_title{
        font-size: 2.75rem;
        margin-bottom: 5%;
    }

    .product{
        padding: 2rem 1rem;
    }

    .swiper-scrollbar{
        display: none;
    }

    .product_prev,
    .product_next {
        display: block;
        top:initial;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--black-color);
    }

    .button_wrapper{
        display: flex;
        justify-content: center;
    }

    .view_all_btn{
        font-size: 1rem;
        width: 30%;
    }

    .product_prev::after,
    .product_next::after {
        content: '';
    }

    .product_prev,
    .product_next {
        top:initial;
        bottom: 0;
        font-size: 1.5rem;
        color: var(--black-color);
    }

    .product_prev{
        left: 8rem;
    }

    .product_next{
        right: 8rem;
    }

    .browse_box{
        padding: 1.5rem;
    }

    .browse_box h1{
        margin: 1.7rem;
    }

    .first_row{
        display: grid; 
        grid-template-columns: 0.75fr 1.25fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". .";
    }

    .second_row{
        display: grid; 
        grid-template-columns: 1.25fr 0.75fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
        grid-template-areas: 
          ". .";
    }

    .casual_occasion_img{
        width: 160%;
    }

    .active_occasion_img{
        width: 160%;
    }

    .review_content_header{
        justify-content: space-evenly;
        margin-bottom: 2%;
    }

    .review_content_header h1{
        font-size: 2rem;
    }

    .swiper_button_wrapper{
        flex: 0.1;
    }

    .newsletter_card{
        flex-direction: row;
        padding: 3rem 1.5rem;
        align-items: baseline;
        justify-content: space-between;
    }

    .newsletter_card h2{
        width: 55%;
    }

    .email_input_wrapper{
        flex: 1;
    }

    .brand_desc{
        width: 50%;
    }
    
    .footer_container{
        padding: 0 1.5rem 1.4375rem;
        display: block;;
    }

    .footer_link_wrapper{
        padding: 0 2rem 1.4375rem;
        display: flex;
        font-size: 100%;
    }

    .brand_desc{
        width:80%;
    }

    .left_footer_wrapper{
        flex: 1;
    }

    .right_footer_wrapper{
        margin: 3% 0 0;
    }

    .footer_divider{
        width: 100%;
        margin: 2% 0 2%;
    }

    .bottom_wrapper{
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1024px){

    .promo_wrapper,
    .sign_up_btn{
        font-size: 1.2rem;
    }

    .promo_bar{
        display: flex;
        justify-content: center;
    }

    .promo_wrapper{
        flex: 0.5;
    }
    
    /* Hide mobile menu elements */
    .menu_btn {
        display: none;
    }

    .nav_left{
        margin-left: 1rem;
    }

    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .search_container{
        flex-grow: 0.7;
    }

    .search_box{
        font-size: 1.2rem;
        width: 100%;
    }

    .brand_logo{
        font-size: 3rem;
    }

    /* Show desktop navigation */
    .desktop_nav {
        display: flex;
        gap: 1rem;
        margin-left: 2rem;
        font-size: 1.2rem;
    }

    .cart_icon,
    .account_icon {
        font-size: 2.2rem;
    }

    /* Ensure side panel and overlay are hidden on desktop */
    .side_panel {
        display: none;
    }

    .overlay {
        display: none;
    }

    .footer_container{
        padding: 0 30rem 1.4375rem;
    }

    .newsletter_wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .newsletter_card{
        padding: 2rem 1.5rem;
        width: 70%;
        justify-content: space-between;
    }

    .newsletter_card h2{
        width: 38%;
    }

    .email_icon{
        font-size: 1.5rem;
    }

    .email_input,
    .subscribe_btn{
        font-size: 1rem;
    }

    .email_input_wrapper{
        flex: 0.5;
    }

    .left_footer_wrapper{
        flex: 0.5;
    }

    .right_footer_wrapper{
        display: flex;
        justify-content: space-around;
        flex: 1;
    }

    .payment_icon{
        max-width: 3.5rem;
    }

    .nav_container{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .brand_desc{
        font-size: 1.1rem;
    }
    
    .footer_links{
        font-size: 1.1rem;
    }

    .social_media_icon{
        font-size: 2rem;
    }

    .bottom_wrapper{
        padding: 0 2rem;
    }

    .bottom_wrapper p{
        font-size: 1.1rem;
    }
    
}
